html
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.80),rgba(0, 0, 0, 0.80)),url(Imagenes/CBTis217.0.jpeg);

}
ul
{
    background-color: ivory;
    width: 150px;
    height: 100px;
    margin: 4px;
    padding: 4px;
    border-radius: 20px;
    left: 400px;

}
ol
{
    background-color: gray;
    width: 150px;
    height: 100px;
    margin: 4px;
    padding: 4px;
    border-radius: 20px;
    left: 400px;
}
a
{
    background-color: bisque;
    padding: 3px;
    margin: 8px;
    font-size: xx-large;
    border-radius: 10px;
    text-decoration: none;
}
h1
{
    font-size: xx-large;
    color: white;
}
.titulo
{
    font-size: xx-large;
    color: white;
    position: absolute;
    margin-top: -15%;
    left: 50%;
}
.bandera
{
    width: 150px;
    height: 200px;
}
.autor
{
    font-size: xx-large;
    color: white;
    position: absolute;
    margin-top: -3%;
}
.yo
{
    position: absolute;
    height: 300px;
    width: 300px;
    left: 90%;
    border-radius: 100%;
    margin: -20%;
}